*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9px;
    background: transparent;
}
body{
    background: linear-gradient(245.59deg, #61a8d1 0%, #2678ac 28.53%, #1b6275 75.52%);
    background-position: cover;
    position: relative;
    display: grid;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 100%;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #59B4C3;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border:  1px solid white;
    transform: translate(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 46vh;
    padding: 0 9%;
    transform: translate(-9%);
}
.icons i{
    display:  block;
    margin: 26px 0;
    font-size: 35px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: #59B4C3;
    transform: translate(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #59B4C3;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translate(-5px);
}
section p2{
    padding: 0 19%;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}
.p2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  .p2 h4 {
    color: #ffffff;
    font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
  font-family: 'Helvetica', sans-serif;
  }
  .p3 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  .p3 h4 {
    color: #ffffff;
    font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
  font-family: 'Helvetica', sans-serif;
  }
.judul{
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
.judull{
    font-size: 50px;
    font-weight: 500;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.juduls{
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.card {
    max-width: 300px;
    width: 100%;
    background-color: #59B4C3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
  }

  #elemen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .car{
    padding: 0 19%;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}
.ele h2{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
  line-height: 1.5;
  margin-top: 15px;
  font-family: 'Helvetica', sans-serif;
}
.ats{
    background-color: #59B4C3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1535){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #2f7697;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}